<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMDB Analyzer</title>
    <style>
        .button {
          background-color: #4CAF50;
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
        }
        </style>
</head>
<body style="background-color: lightblue;">
    <h1 id="jjj">Welcome to the IMDB Analyzer, Please Choose a Chart You Would Like To Examine</h1>
    <hr>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#" id="btn1" class="button">Name Length - Cumulative </a> &nbsp; &nbsp; &nbsp; &nbsp;
    <a href="#" id="btn2" class="button">&nbsp;&nbsp;&nbsp; Movie Runtime - ROI     &nbsp;&nbsp;&nbsp;</a> &nbsp; &nbsp; &nbsp; &nbsp;
    <a href="#" id="btn3" class="button">Rating - ROI</a> &nbsp; &nbsp; &nbsp; &nbsp;
    <a href="#" id="btn4" class="button">Genre - ROI</a> &nbsp; &nbsp; &nbsp; &nbsp;
    <a href="#" id="btn5" class="button">Release Quarter - ROI</a>
    <br>
    <br>

    
    <script src="data.js"></script>
    


</body>
</html>